div.back {
    background-image: url(/Back.svg);
    position: fixed;
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    animation: back-fade-in 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes back-fade-in {
    from { opacity: 0; }
    to { opacity: 0.3; }
}