div.btn-group button {
    color: white;
    font-style: 16px;
    cursor: pointer;
    display: table;
}

div.idea table.btn-group {
    border: none;
    margin: 0 0;
    width: 100%;
    border-spacing: 0 10px;
}

table.btn-group span.votes {
    margin: 0 8px;
    font-weight: 700;
}

button.vote { 
    width: 36px;
    height: 24px;
    cursor: pointer;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12pt;
    background-color: #DEE5E5;
    border: solid 1px #DEE5E5;
    border-radius: 6px;
    box-shadow: 0px 2px 0px #A3A8BA;
    user-select: none;
    -webkit-user-select: none;
    transition: background-color 1s, color 1s, border 1s, box-shadow 1s, transform 1s;
}

button.vote:focus { 
    outline: none;
}

button.vote:active {
    box-shadow: none !important;
    transform: translateY(2px);
}

button.vote.up {
    color: #00A030;
}

button.vote.down {
    color: #FF758C;
}

button.vote.up.selected {
    color: #DEE5E5;
    background-color: #00A030;
    border: solid 1px #00A030;
    border-radius: 6px;
    box-shadow: 0px 2px 0px #006B37;
}

button.vote.down.selected {
    color: #DEE5E5;
    background-color: #FF758C;
    border: solid 1px #FF758C;
    border-radius: 6px;
    box-shadow: 0px 2px 0px #AF5074;
}